/*------------Cart Drop Down-----------------------*/
.header_top .left .shopping_cart_dropdown {left: auto;   right: 0;}
.shopping_cart_dropdown {   background-color: #000;}
.shopping_cart_header .header_cart{ background-image: url(images/header_shopping_bag.png);
background-position: left bottom;
width: 32px;
height: 25px;
position:relative;
 padding: 0; display: block;
 margin: 0 auto;
 background-size: 26px 25px;
}
.shopping_cart_dropdown span.total span {line-height: 29px;}
.shopping_cart_outer{ border-left: 1px solid #C1C3C5; border-right: 1px solid #C1C3C5; }
.shopping_cart_header .header_cart span{ font-size:8px; color:#fff; background-color:#BB222A; border-radius:50px; line-height:11px; width:11px; height:11px;
display:inline-block; font-family: 'Montserrat'; text-align:center; right: 2px; top:-4px;left: auto;}

.shopping_cart_dropdown ul li a { color: #fff;}
.shopping_cart_dropdown ul.cart_list dl.variation{ clear:both; margin-top:10px;}
.shopping_cart_dropdown ul.cart_list dl.variation span.amount{  color: #fff;}
.shopping_cart_dropdown ul.cart_list dl.variation p{ margin:0; padding:0; line-height: 16px;}
.shopping_cart_dropdown ul li { font-weight: 600;  font-size: 11px;  text-transform: none;   letter-spacing: 0;}
.shopping_cart_dropdown ul li dd {  font-weight: 400;   color: #fff;}
.shopping_cart_dropdown .cart_list span.quantity{ float:right;}

/*------------Shop Page-------------------------*/
.woocommerce ul.prod_by_cat {   list-style:none; margin:0; padding:0;}
.woocommerce ul.prod_by_cat li.product-category {  width: 100%;   margin-right: 0; list-style:none; margin:0; padding:0;}
.woocommerce ul.prod_by_cat li.product-category .woocommerce-loop-category__title .count{ display:none;}
.woocommerce .content .container .container_inner .page-description{ padding:30px 0 50px 0;}
.woocommerce ul.prod_by_cat li.product-category .woocommerce-loop-category__title{ text-transform:none; color:#B82029; margin-bottom: 30px;}
.woocommerce ul.prod_by_cat li.product-category .cat_desc{ padding:25px 0 45px 0;}
.woocommerce ul.prod_by_cat li.product-category  ul.products li.product:nth-child(3n){ margin-right:0;}
.woocommerce ul.products { display: flex; justify-content: space-between; flex-wrap: wrap; width: 100%;}
.woocommerce ul.products li.product { float: none; padding-bottom: 20px;}
.woocommerce ul.products li.product h6{ font-size:20px;}
.woocommerce ul.products li.product .price {font-size: 20px;  color: #77818F;  font-family: 'Montserrat',sans-serif;  font-weight: 500;}
.woocommerce ul.products li.product:hover{
	-webkit-box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.22), 0px 4px 13px 4px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.22), 0px 4px 13px 4px rgba(0, 0, 0, 0.3);
box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.22), 0px 4px 13px 4px rgba(0, 0, 0, 0.3);
}

.woocommerce ul.products li.product:hover .image-wrapper img {  opacity: 1;}
.woocommerce ul.products li.product .image-wrapper { padding: 30px 30px 10px;}
.woocommerce ul.products li.product .add-to-cart-button-outer { display: none;}

/*---------------------Single Page------------------------------*/
.woocommerce .summary .separator{ display:none;}
.woocommerce div.product .product_meta {display: none;}
.woocommerce .summary {float: left;}
.woocommerce .product .images {float: right;}
.woocommerce .summary .woocommerce-product-details__short-description{margin-top: 60px;margin-bottom: 50px; padding-right: 45px; font-size:20px; font-weight:500; line-height:28px; color:#77818F;}
.woocommerce div.product .summary .cart{padding-right: 50px; clear: both;}
.woocommerce.single-product.qode-product-single-wide-gallery .product .summary { width: 55%; padding-right:0; padding-top: 40px;}
.woocommerce.single-product.qode-product-single-wide-gallery .product .images {text-align: center; width: 45%;  margin-left: 0;  margin-right: 0;margin-top: 90px;}
.woocommerce div.product .summary .product_title{ float:left; margin-bottom: 25px;}
.qode-single-product-summary .product_title {margin-bottom: 0px !important;}
.woocommerce div.product .summary p.price{ float:right; margin:0;}
.woocommerce div.product .summary p.price span.amount { font-size: 26px; color: #B92029; font-family: 'Montserrat',sans-serif; font-weight: 500; line-height: 36px;}

.woocommerce-page button.single_add_to_cart_button{ margin-top:43px;}
.woocommerce div.product .cart .quantity{ margin-top:40px;}

h3.wc-pao-addon-name {margin-top: 0;font-weight: 400; color: #0258A5; text-transform: uppercase;  font-size: 20px;  line-height: 24px; padding-top: 20px;}
div.wc-pao-addon-description p {margin-bottom: 30px; font-style: normal; color: #231F20;  font-size: 16px;  font-weight: 500;  margin-top: 7px;}
label.addon-redname{ display:block; color:#B82029; font-size:16px; font-weight:500; line-height:20px; margin-bottom:4px;}
.woocommerce .wc-pao-addon-select{ width:80%; padding:5px;}
.woocommerce p.form-row {margin-bottom: 24px;  margin-top: 0;}
.woocommerce p.form-row label { display: block; margin-bottom: 3px; color: #B82029; font-size: 16px; font-weight: 500;}
.depend-second-product .wc-pao-addon-name,
.second-product .wc-pao-addon-name{ display:none;}
.woocommerce .second-product{ margin-bottom:0;}
.woocommerce .second-product p.form-row{ margin-bottom:0;}
.woocommerce .second-product .wc-pao-addon-description{ margin-left:26px;}
.depend-second-product,
.depend-first-product{ position:relative;}
.depend-second-product::after,
.depend-first-product.disable::after {  content: "";  width: 100%;  height: 100%;  background-color: rgba(255,255,255,0.5);   position: absolute;    top: 0;}
.depend-second-product.enable::after{ display:none;}
#product-addons-total{}
dl.product-addon-totals {   margin-bottom: 0; border: 1px solid #B82029; border-bottom:0;}
dl.product-addon-totals dt {
    width: 46%;
    float: left;
    clear: left;
    border-bottom: 1px solid #B82029;
    padding: 10px 2%;
}

dl.product-addon-totals dd {  float: left;  width: 46%; padding:10px 2%;    text-align: right;  border-bottom: 1px solid #B82029;}

.single-product .single_variation_wrap {margin-top: 25px;}
.woocommerce div.product .cart .product_qty_box .quantity{margin-bottom: 10px;margin-top: 5px;}
.product_qty_box
.woocommerce div.product .cart table.variations {
    margin-bottom:10px;
}
.woocommerce div.product .cart table.variations .reset_variations{ display:none !important;}
.woocommerce div.product .cart table td{ padding-left:0;}
.woocommerce div.product .cart .product_qty_box .unit_name {
    float: left;
    margin-top: 15px;
    color: #B82029;
    font-weight: 500;
}
.woocommerce div.product .cart button.button{
    line-height: 80px;
    height: 80px;
    font-size: 20px;
    max-width: 380px;
    width: 100%;
    text-align: center;
    padding: 0;
}
.woocommerce div.product .cart .clear_selection{ display:inline-block; padding-left: 40px;}
.woocommerce div.product .cart .clear_selection a{ color:#77818F; text-decoration:underline; font-weight:500; font-size:16px;}
.woocommerce div.product .cart .clear_selection a:hover{ color:#000; text-decoration:none;}

body.single-product.woocommerce-page .product form button.alt.disabled {
    background-color: #868686;
	 border-color: #868686;
    color: #fff;
	cursor: not-allowed;
opacity: .5;
}
/*---gallery----*/
.woocommerce-product-gallery .flex-control-nav{ text-align:right;}
.woocommerce .product .images .flex-viewport .woocommerce-product-gallery__image{ text-align:center;}
.woocommerce .product .images .flex-viewport .woocommerce-product-gallery__image img {  width: auto !important; display:inline-block;}
/*.woocommerce-product-gallery .flex-control-nav li { width: 11px; height: 11px;  border-radius: 50px; display:inline-block; margin: 0 5px;overflow:hidden;}
.woocommerce-product-gallery .flex-control-nav li img{background-color: #000; padding-left:15px;border-radius: 50px; cursor:pointer;}
.woocommerce-product-gallery .flex-control-nav li img.flex-active{ background-color:#B92029;}
*/
.woocommerce.single-product.qode-product-single-wide-gallery .product .qode-product-gallery-wide-related {   display: none;}

.woocommerce.single-product.qode-product-single-wide-gallery .product .images .woocommerce-product-gallery__image {
    float: none;
    width: auto;}

.woocommerce-product-gallery .wpb_flexslider .flex-control-paging li a{ font-size:0; background-color:#000 !important;}
.woocommerce-product-gallery .wpb_flexslider .flex-control-paging li a.flex-active{background-color:#AE272A !important;}
/*------variation---------------*/
form .variations{ width:100%;}
form .variations label {
    color: #0258A5;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
}
form .variations .value select{ padding:5px; width:81%;}

/*------------------Cart page---------------------------------*/
.woocommerce table.cart tbody td.product-remove a.remove, .woocommerce-page table.cart tbody td.product-remove a.remove {
   
    background:none;
    text-indent: 0;
    vertical-align: middle;
    font-size: 20px !important;
}
.woocommerce .checkout table.shop_table thead tr th, .woocommerce table.cart thead tr th, .woocommerce-account table.my_account_orders thead tr th, .woocommerce-page .checkout table.shop_table thead tr th, .woocommerce-page table.cart thead tr th, .woocommerce-page table.my_account_orders thead tr th {
 
    font-family: 'Montserrat',sans-serif;
 
}
.woocommerce table.cart tbody tr td img {
width: 150px;
margin: 0 auto;
}
.woocommerce table.cart tbody .product-thumbnail {
background-color: white !important;
}
.woocommerce div.cart-collaterals h2, .woocommerce-page .div.cart-collaterals h2 {
    font-size: 30px;
   
}
.woocommerce table.shop_table {
    border: 1px solid rgba(0,0,0,.1);
  
    border-collapse: separate;
   
}
.woocommerce table.shop_table td {
    border-top: 1px solid rgba(0,0,0,.1);
 
}
 .woocommerce-cart table.cart tbody tr,.woocommerce form.checkout table.shop_table tbody tr {
    border: 0;
    background-color: #f8f8f8;
}
 .woocommerce-cart table.cart tbody tr:nth-child(even),.woocommerce form.checkout table.shop_table tbody tr:nth-child(even){ background-color:#fff;}
.woocommerce table.cart thead tr,
.woocommerce-page table.cart thead tr,
.woocommerce form.checkout table.shop_table thead tr{ border:0; background-color: #a0b2c2;border-color: #a0b2c2;}
.woocommerce-cart table.cart thead th,.woocommerce form.checkout table.shop_table th{ color:#fff;}
.woocommerce table.cart tbody td.product-remove, .woocommerce-page table.cart tbody td.product-remove {
   
    border-right: 0;
}
.woocommerce-cart table.cart tbody tr td a:not(.checkout-button), .woocommerce-checkout .checkout table tbody tr td a {
    color: #000;
    font-weight: 700;
}
.woocommerce-cart table.cart tbody tr td a:not(.checkout-button):hover, .woocommerce-checkout .checkout table tbody tr td a:hover{ color:#BD2029;}

.woocommerce-page table.cart tbody td.product-subtotal span.amount,
.woocommerce-page table.cart tbody td.product-price span.amount {
   
    color: #000;
    font-weight: 600;
    font-size: 15px;
}
body.woocommerce-cart #main td.product-name dl.variation dt, body.woocommerce-cart #main td.product-name dl.variation dd {
    padding: 0 0 0 0;
    margin-bottom: 0.5em;
    font-weight: 400;
}
.woocommerce td.product-name dl.variation dt {
    font-weight: 700;
    padding: 0;
    margin: 0 4px 0 0;
    clear: left;
	font-size: 13px;
}
.woocommerce td.product-name dl.variation dt {
    margin-top: 5px;
}
.woocommerce td.product-name dl.variation dd, .woocommerce td.product-name dl.variation dt {
    display: inline-block;
    
    margin-bottom: 0;
	font-size: 13px;
	line-height: 19px;
	
color: #888;
}
.woocommerce td.product-name dl.variation dd {font-weight: 400;}
.woocommerce td.product-name dl.variation dd, .woocommerce td.product-name dl.variation dt {
display: block;
}
.woocommerce td.product-name dl.variation dd p{ margin:0;}

.woocommerce .woocommerce-message,
.woocommerce .woocommerce-info {
    border-top: 3px solid #BD2029;
    background-color: #cfd6dd;
    color: #000 ;
    padding: 10px 15px;
}
.woocommerce table.cart div.coupon .button, .woocommerce-page table.cart div.coupon .button {
    top: 0px !important;
}
.woocommerce table.cart td.actions .button{ top:0 !important;}
.woocommerce table.cart div.coupon .input-text, .woocommerce-page table.cart div.coupon .input-text, .woocommerce-page.woocommerce-checkout div.coupon .input-text, .woocommerce.woocommerce-checkout div.coupon .input-text {
    width: 200px;
    margin-right: 0;
    padding: 5px 13px;
    height: 28px;
    background-color: #fff;
}
.woocommerce table.cart div.coupon .input-text, .woocommerce-page table.cart div.coupon .input-text {
    background-color: #fff; color:#000;}
.woocommerce table.cart td.actions {
   
    padding: 15px 15px;
    background-color: #d3dae1;
}	
.woocommerce table.cart td.actions input[type="submit"]:hover, .woocommerce-page input[type="submit"]:hover, .woocommerce .button:hover {
    background-color: #000 !important;
    color: #fff;
    border-color: #000;
}
.shipping-calculator-form{background-color: #d3dae1;padding: 20px; border: 1px solid rgba(0,0,0,.1); margin-top: -2px;}

.woocommerce div.cart-collaterals div.cart_totals, .woocommerce-page .div.cart-collaterals div.cart_totals {
   
    width: 40%;
   
}
.woocommerce .cart_totals table.shop_table {
   
    width: 100%;
	background-color: #f8f8f8;border: 1px solid rgba(0,0,0,.1);
	border-top: 0;
}
div.cart-collaterals div.cart_totals table th {
    padding: 10px !important;
    font-weight: 500 !important;
    text-transform: uppercase;
    border-top: 1px solid rgba(0,0,0,.1);
}
div.cart-collaterals div.cart_totals table tr.order-total{background-color: #a0b2c2;
color: #fff;}
div.cart-collaterals div.cart_totals table tr.order-total th{font-weight: 700 !important;}

/*---------------Checkout----------------*/
.woocommerce-account h2, .woocommerce-account h3, .woocommerce-checkout h2, .woocommerce-checkout h3{ font-size:36px;}
.woocommerce form.checkout .col2-set .form-row input[type="text"], .woocommerce form.checkout .col2-set .form-row input[type="email"], .woocommerce form.checkout .col2-set .form-row input[type="password"], .woocommerce form.checkout .col2-set .form-row input[type="tel"],
.woocommerce form.checkout .col2-set .form-row.notes textarea {
       border: 1px solid #e6e6e6;
}
.woocommerce input[type="text"]:not(.qode_search_field),
.woocommerce textarea{font-size: 16px; font-family: 'Montserrat',sans-serif}

.woocommerce-checkout #shipping_country_field {   height: 50px;}
.woocommerce form.checkout .select2-container--default .select2-selection--single {  height: 49px;  line-height: 45px;    top: 2px !important;    position: relative;}
.woocommerce form.checkout table.shop_table td, .woocommerce form.checkout table.shop_table th {text-align: left; }
.woocommerce form.checkout table.shop_table td.product-name{color: #000;font-weight: 700;}
.woocommerce form.checkout table.shop_table td strong, .woocommerce form.checkout table.shop_table th {
    font-weight: 700;
}
.woocommerce form.checkout table.shop_table .product-total span.amount {
    color: #000;
    font-weight: 600;
    font-size: 15px;
}
.woocommerce form.checkout table.shop_table tfoot th,
.woocommerce table.order_details tfoot th{ color:#000; font-weight:600; text-transform:uppercase; border-top: 1px solid rgba(0,0,0,.1);}
.woocommerce table.order_details tfoot,
.woocommerce form.checkout table.shop_table tfoot{ background-color:#e1e1e1;}
.woocommerce form.checkout table.shop_table tfoot tr.order-total,
.woocommerce table.order_details tfoot tr:last-child{ background-color:#d3dae1;}
.woocommerce #payment ul.payment_methods li label img {
    margin: -8px 10px 0;
    position: relative;
    top: 0;
    max-height: 52px !important;
    display: inline-block;
    vertical-align: middle;
}
.woocommerce #payment ul.payment_methods li label {
    color: #000;
    margin-left: 0;
    line-height: 52px;
    display: inline-block;
    vertical-align: middle;
}
.woocommerce-checkout #payment div.payment_box {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    padding: 1em !important;
    margin: 1em 0;
    font-size: .92em;
    border-radius: 2px;
    line-height: 1.5;
    background-color: #dfdcde;
    color: #515151;
}
.woocommerce-checkout #payment div.payment_box::before {
    content: "";
    display: block;
    border: 1em solid #dfdcde;
    border-right-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
    position: absolute;
    top: -.75em;
    left: 0;
    margin: -1em 0 0 2em;
}
.woocommerce-checkout #payment div.payment_box p {
    margin: 0;
}
form label span.woocommerce-terms-and-conditions-checkbox-text {
    color: #000;
}
.terms-note{color: #787676;}
.woocommerce form.checkout_coupon {
    margin-bottom: 20px;
    background-color: #d3dae1;
    padding: 20px;
}

/*----------------Account-----------------------*/
.woocommerce-account input[type="text"], .woocommerce-account input[type="email"],.woocommerce input[type="password"] {
    width: 100%;
	
	    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #e6e6e6 !important;
}
.woocommerce-account h2, .woocommerce-account h3{ margin-top:0;}

.woocommerce .woocommerce-MyAccount-content p.form-row label {

    color: #000;
}
.woocommerce .woocommerce-MyAccount-content p.form-row label abbr{color: #B82029;}
.woocommerce-account .woocommerce-MyAccount-navigation {

    border: 1px solid #95A7B7;
}
.woocommerce-account .woocommerce-MyAccount-navigation ul li a {
    padding: 10px 12px 10px 30px;
   
    position: relative;
	color: #778082;
font-size: 14px;
line-height: 20px;
font-weight: 400;
text-transform: none;
letter-spacing: 0px;
border-top:1px solid #95A7B7;
}
.woocommerce-account .woocommerce-MyAccount-navigation li:first-child a {
    padding-top: 10px;
	border-top:0;
}
.woocommerce-account .woocommerce-MyAccount-navigation ul li a::before {
    content: ".";
    position: absolute;
    left: 19px;
    top: 5px;
    font-weight: 500;
    font-size: 16px;
    color: #BB2029;
}
.woocommerce-account .woocommerce-MyAccount-navigation li.is-active a {
    color: #fff;
	background-color:#95A7B7;
}
.woocommerce-account .woocommerce-MyAccount-navigation li a:hover{ color: #fff;
	background-color:#C8CED4;}
.woocommerce-form-login{ width:50%;}
.woocommerce form.lost_reset_password input[type="text"] {
    width: 100%;
}
/*----------------Order Detail Page-----------------------*/
.woocommerce ul.order_details, .woocommerce-page ul.order_details {
    
    display: table;
    width: 100%;
}.woocommerce .order_details.clearfix li, .woocommerce-page .order_details.clearfix li {
    float: none;
    margin-right: 0;
    display: table-cell;
    background: #D2D9E0;
}
.woocommerce .order_details.clearfix li > span {
    background: #BD2229;
    color: #fff;
    display: block;
    font-weight: 700;
    padding: 10px 5px 10px 15px;
    border-left: 1px solid #fff;
}
.woocommerce .order_details.clearfix li p {
    margin: 0;
    padding: 10px 5px 10px 15px;
    border-left: 1px solid #fff;
}
.order-details-wrapper{ margin-top:50px;}

.woocommerce-checkout table.shop_table {
    width: 100%;
    margin-bottom: 33px;
}
.woocommerce table.order_details thead > tr > th {
    
    background-color: #a0b2c2;
    color: #fff !important;
    font-weight: 700 !important;
    padding: 10px !important;
}
.woocommerce-checkout .shop_table.order_details tr td {
   padding: 10px;
    font-weight: 700;
    color: #000;
}
.shop_table.order_details tr td ul {
    list-style: none;
}
.shop_table.order_details tr td ul li{ margin-bottom:5px;}
.shop_table.order_details tr td ul li .wc-item-meta-label{
color: #888;
font-size: 13px;
line-height: 15px;
}
.shop_table.order_details tr td ul li p {
    margin: 0;
    font-weight: 400;
    font-size: 13px;
    color: #888;
    line-height: 15px;
}	
.woocommerce-checkout .shop_table.order_details tr td span.amount {
    font-family: inherit;
    font-weight: 600;
    color: #000;
}
.woocommerce table.order_details tbody tr.order_item {
    border: 0;
    background-color: #f8f8f8;
}
.woocommerce table.order_details tbody tr.order_item:nth-child(2n) {
    background-color: #fff;
}

.woocommerce-checkout .shop_table.order_details th{
    padding-left: 10px;
}
.woocommerce-checkout .addresses .woocommerce-column--billing-address,
.woocommerce-checkout .addresses .woocommerce-column--shipping-address{ width:48%}
@media only screen and (max-width: 1200px){
.woocommerce.single-product.qode-product-single-wide-gallery .product .images { width: 39%;}
.woocommerce.single-product.qode-product-single-wide-gallery .product .summary {width: 58%;}
	
}

@media only screen and (max-width: 1000px){
.woocommerce div.product .summary p.price {float: left;}
.woocommerce table.cart div.coupon .input-text, .woocommerce-page table.cart div.coupon .input-text, .woocommerce-page.woocommerce-checkout div.coupon .input-text, .woocommerce.woocommerce-checkout div.coupon .input-text {
    width: 160px;}

.woocommerce div.cart-collaterals div.cart_totals, .woocommerce-page .div.cart-collaterals div.cart_totals {
    width: 48%;
}
.woocommerce-form-login{ width:70%;}
}

@media only screen and (max-width: 768px){
.woocommerce.single-product.qode-product-single-wide-gallery .product .images { width: 100%;}
.woocommerce.single-product.qode-product-single-wide-gallery .product .summary {width: 100%;}
.woocommerce div.product .summary p.price {float: right;}

.woocommerce div.cart-collaterals div.cart_totals, .woocommerce-page .div.cart-collaterals div.cart_totals {
    width: 100%;
}
.woocommerce div.cart-collaterals .woocommerce-shipping-calculator, .woocommerce-page .div.cart-collaterals .woocommerce-shipping-calculator {
    float: none;
    width: 100%;

}
.woocommerce-form-login{ width:100%;}

.woocommerce ul.order_details, .woocommerce-page ul.order_details {
    display: block;
   
}
.woocommerce .order_details.clearfix li, .woocommerce-page .order_details.clearfix li {
   
   margin-top: 15px;
    display: block;
  
}
.woocommerce-checkout .addresses .woocommerce-column--shipping-address{ width:100%}
}

@media only screen and (max-width: 600px){
.woocommerce div.product .summary .product_title {float: none;}
.woocommerce div.product .summary p.price {float: none;}
}